.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/Server/Bzs.Portable/bin
/Server/Bzs.Portable/obj
/Server/Bzs.Server/bin
/Server/Bzs.Server/obj
/Server/Bzs.Server.CloudServices/bin
/Server/Bzs.Server.CloudServices/obj
/Server/Bzs.Server.Database/bin/Debug
/Server/Bzs.Server.Database/obj/Debug
/Server/Bzs.Testing.UnitTests/bin/Debug
/Server/Bzs.Testing.UnitTests/obj
/Server/BZS Surselva.sln.DotSettings.user
/Server/BZS Surselva.v12.suo
/Server/Bzs.Server.Database/Bzs.Server.Database.sqlproj.user
/Server/Bzs.Server.CloudServices/Bzs.Server.CloudServices.csproj.user
/Server/.vs/BZS Surselva/v14/.suo
