<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bzs_surselva.schoolplanner" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MainActivity" />
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:label="@string/title_activity_password"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MainActivity" />
        </activity>
        <activity
            android:name=".TimetableActivity"
            android:label="@string/title_activity_timetable"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MainActivity" />
        </activity>
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson"
            android:parentActivityName=".TimetableActivity" >
        </activity>
        <activity
            android:name=".SubjectEditActivity"
            android:label="@string/title_activity_subject_edit"
            android:parentActivityName=".SubjectEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.SubjectOverviewActivity" />
        </activity>
        <activity
            android:name=".SubjectOverviewActivity"
            android:label="Subject Overview"
            android:parentActivityName=".MasterDataActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MasterDataActivity" />
        </activity>


        <activity
            android:name=".TeacherActivity"
            android:label="@string/title_activity_teacher"
            android:parentActivityName=".TeacherOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.TeacherOverviewActivity" />
        </activity>

        <activity
            android:name=".TeacherOverviewActivity"
            android:label="@string/title_activity_teacher_overview"
            android:parentActivityName=".MasterDataActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MasterDataActivity" />
        </activity>

        <activity android:name=".RoomEditActivity"
            android:label="@string/title_activity_room_edit"
            android:parentActivityName=".RoomOverviewActivity">
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                 android:value="ch.bzs_surselva.schoolplanner.RoomOverviewActivity"/>
         </activity>

        <activity android:name=".RoomOverviewActivity"
            android:label="Room Overview"
            android:parentActivityName=".MasterDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.MasterDataActivity">
            </meta-data>
        </activity>

        <activity android:name=".MasterDataActivity"
            android:label="MasterData"
            android:parentActivityName=".TimetableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bzs_surselva.schoolplanner.TimetableActivity">
            </meta-data>

        </activity>


    </application>

</manifest>
