<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bzssurselva.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bzssurselva.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bzssurselva</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bzssurselva</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BzsEntityContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=k5ivnliwmi.database.windows.net,1433;Initial Catalog=bzssurselva;Persist Security Info=True;User ID=deltaworks;Password=Xefuguzu1;Application Name=EntityFramework" Name="Data Source=k5ivnliwmi.database.windows.net,1433;Initial Catalog=bzssurselva;Persist Security Info=True;User ID=deltaworks;Password=Xefuguzu1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bzs.Server.DataAccess.BzsEntityContainer, Bzs.Server" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BzsEntityContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.BzsModel.csdl|res://*/DataAccess.BzsModel.ssdl|res://*/DataAccess.BzsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=k5ivnliwmi.database.windows.net,1433;Initial Catalog=bzssurselva;Persist Security Info=True;User ID=deltaworks;Password=Xefuguzu1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>